/***************************************************/
/* General */
/***************************************************/

body {
    background-image: url("../images/background.jpeg");
    background-color: #060636;
    margin: 0;
    border: 0;
}       /* The background of the website. */

h1 {
    color: white;
    line-height: 0px;
    font-family: Bahnschrift;
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
}       /* Mainly used for titles */

h3 {
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0 20px;
    line-height: 1.5;
}       /* Majority of content is written in this font size */

h5 {
    color: white;
    line-height: 0px;
    margin: 10px;
    padding: 10px;
    font-family: Bahnschrift;
}       /* For very small text */

#image {
    border-radius: 50px;
    margin: 10px;
}       /* Used on images to make the borders softer*/

/***************************************************/
/* Footer Content */
/***************************************************/

FooterText {
    color: white;
}       /* Colour of the text in the footer */

footer {
    background-color: #19193a;
    border-top: 2px solid #060636;
    border-radius: 10px;
    padding: 25px 0;
    margin-top: 50px;
}       /* The footer's background colour and style */

#copyright {
    color: white;
    opacity: 50%;
}       /* Prints a copyright logo on the site */

/***************************************************/
/* Navigation Bar Content */
/***************************************************/

.navbar {
    overflow: hidden;
    display: flex; /* use flexbox to center the items inside of the navigation bar */
    justify-content: center;
    background-color: #19193a;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 25px;
    z-index: 1;
    border-bottom: 2px solid #060636;
    padding: 5px;
    margin-bottom: 10px;
}       /* Navigation bar's background that holds links to different pages of the website. */

    .navbar a {
        float: left;
        background: #080823;
        display: block;
        color: #f2f2f2;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-radius: 50px;
        margin-right: 10px;
    }       /* Allows the text in the nav bar to be presented more neatly. */

.navbar a:hover {
            background: #1a1a58;
            color: #f2f2f2;
            border-radius: 50px;
        }       /* When the mouse hovers over a link in the Nav Bar it darkens the link showing it can be clicked. */

#onPage {
    background: #f2f2f2;
    color: black;
}       /* Used to show what page the user is on by surrounding the link in the nav bar in a white box. */

/***************************************************/
/*                E N D  O F  F I L E              */
/***************************************************/